html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
#port{
	cursor: pointer;
	 cursor: hand; 
	}

#maindesign{
		position:inherit;
		height:100%;
		width:100%;
}
html{
	 width: 100%;
	                height: 100%;
                margin: 0;
                padding: 0;
}
body{
	height:100%;
	width:100%;
}
.circle {
	position:inherit;
	content:url(../images/main.jpg);
	opacity:1;filter:alpha(opacity=100);
    border-radius: 50%;
    width: 350px;
    height: 350px;
    right:35%;
    bottom:20%;
}
.circle:hover {

	content:url(../images/main2.jpg);
	opacity:1;filter:alpha(opacity=100);
    border-radius: 50%;
    background-size: 20px 20px;
	height: 350px;
    width: 350px;
}
	
.abra {
	margin:0;
 	background: url(../images/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
.body {
	margin:0;
 	background: url(../images/bg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.About{
	content:url(../images/About.png);
	position: fixed;
	width:50px;	
	right: 60%;
	bottom: 10%;
}
.About:hover{
	position: fixed;
	right: 58%;
	width:100px;
	-webkit-filter: drop-shadow(5px 5px 5px white);
}
.Resume{
	content:url(../images/Resume.png);
	position: fixed; 
	right: 48%; 
	width:50px;
	bottom: 10%;
}
.Resume:hover{
	position: fixed;
	right: 46%;  
	width:100px;
	-webkit-filter: drop-shadow(5px 5px 5px white); 
}
.Contact{
	content:url(../images/Contacts.png);
	position:fixed;
	right: 36%;
	width:50px;
	bottom: 10%;

}
.Contact:hover{
	content:url(../images/contacts.png);
	position: fixed; 
	right: 34%;
	width:100px;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-filter: drop-shadow(5px 5px 5px white);
}


/* This is the potential header */
/* For about page */
.header {
	position:fixed;
    height: 100px;
    width: 100%;
    background-color: #1e1e1e;;

}
.header:hover{
	box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.div{
	 height: 85px;
    width: 100%;
}
.aboutbody{
margin:0;
 	background: url(../images/bgcont.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.logo{
	content:url(../images/logo.png);
	position:fixed;
    background-size: 20px 20px;
	height: 150px;
	width: 150px;
	right: 44.5%;

}
.logo:hover{
-webkit-filter: drop-shadow(5px 5px 5px darkblue);
}
.p{
	position:fixed;
	color: white;
	font-size: 1.5vw;
	height: 15px;
	width: 62px;
	bottom: 425px
	margin: 0;
	right: 5%;
	margin-top: 25px;
}
.p:hover{
	position:fixed;
	color: white;
	font-size:25px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.p1{
	position:fixed;
	color: white;
	font-size: 1.5vw;
	height: 15px;
	width: 50px;
	right: 12%;
	bottom: 425px
	margin: 0;
	margin-top: 25px;

}
.p1:hover{
	position:fixed;
	color: white;
	font-size:25px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.p2{
	position:fixed;
	color: white;
	font-size: 1.5vw;
	height: 15px;
	width: 50px;
	right: 20%;
	bottom: 425px
	margin: 0;
	margin-top: 25px;
}	
.p2:hover{
	position:fixed;
	color: white;
	font-size:25px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.p3{
	position:fixed;
	color: white;
	font-size: 1.5vw;
	height: 15px;
	width: 50px;
	right: 28%;
	bottom: 425px
	margin: 0;
	margin-top: 25px;
}
.p3:hover{
	position:fixed;
	color: white;
	font-size:25px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.name{
	position:fixed;
	color: white;
	font-size: 6vw;
	width: 50px;
	right: 90%;
	margin: 0;
}
.litul{
	position:fixed;
	color: white;
	font-size: 15px;
	height: 200px;
	width: 150px;
	right: 1100px;
	bottom: 370px;
}
a,a:hover,a:visited,a:link,a:activate{
	text-decoration:none;
}
.white{
	 height: 100;
    width: 100;
    background-color: #eff1f4;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.spacing{
	position:inherit;
    height: 15%;
    width: 100%;
}
.activated{
	-webkit-filter: drop-shadow(5px 5px 5px darkblue);
}
.font{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 15px;
	color: white;
	position:inherit;
}
.fonthead{
	font-family: "Script", Times, serif;
	font-size: 25px;
	color: white;
}
.bodyspacing{
	position:inherit;
    height: 10%;
    width: 100%;
}
.spaning{
	position:inherit;
	height:100%;
	width:1px;
}
#body{
	position:inherit;
	height: 70%;
	width: 100%;
	background: color white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 0;
	padding-top: 5px;
}

/* KUNTAKTU */
.contactbody{
margin:0;
 	background: url(../images/contactbg.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#contact{
		height: 80%;
    	width: 28vw;
    	margin-left:7%;
    	background: color white;
   		background-size: 100% 100%;
   		background-repeat: no-repeat;

}
#kontak{
	position:inherit;
		float:left;
		margin: 3%;
		margin-bottom:3%;
    	background: color white;
   		box-shadow: 0px 0px 0px black, 0 0 0px blue, 0 0 5px skyblue;
}
.fb{
	width:10%;
	margin:5%;
}
.fb:hover{
	-webkit-filter: drop-shadow(5px 5px 5px skyblue);
}
.yt{
	width:10%;
	margin:5%;
}
.yt:hover{
	-webkit-filter: drop-shadow(5px 5px 5px skyblue);
}
.tw{
	width:10%;
	margin:5%;
}
.tw:hover{
	-webkit-filter: drop-shadow(5px 5px 5px skyblue);
}
.fontblack{
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 6vw;
	color: black;
	position:inherit;
	margin: 12px;
}
.tags{
	position:inherit;
	 height: 30px;
    width: 30%;
    background-color: #2a2525;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin:0;

}
.tagfont{
	position:inherit;
		font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	font-size: 27px;
	color: white;
	position:inherit;
	margin:0;
}

/* galeruy */
.first{
	content:url(../images/1st.jpg);
    width: 100%;
    height: 100%;
}
.sekond{
	content:url(../images/2nd.jpg);
    width: 100%
    height: 100%;
}
.tirdu{
	content:url(../images/3rd.jpg);
    width: 100%;
    height: 100%;
}
.first:hover{
	content:url(../images/1st.jpg);
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px skyblue);
}
.sekond:hover{
	content:url(../images/2nd.jpg);
    width: 100%
    height: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px skyblue);
}
.tirdu:hover{
	content:url(../images/3rd.jpg);
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px skyblue);
}
